name: Lint

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**/*.md'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install
      
      - name: tsc
        run: bun run tsc

      - name: ESLint
        run: bun run lint

      - name: Prettier
        run: bun run format

